# Database Configuration
STORAGE_DB="sqlite"
# applicable only if STORAGE_DB="postgres"
#DB_HOST=localhost
#DB_PORT=5432
#DB_NAME=group_db
#DB_USER=postgres
#DB_PASSWORD=your_password_here

# MCP Services Configuration
MCP_PORT=
MCP_HOST=0.0.0.0

